<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>barber-app - Homepage</title>
</head>

<body>
<nav>
    <div class="logo">
        <a href="/">
            <img src="images/logo.png" alt="Barber App Logo">
        </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>

        <!--	<li><a href="/services">Servizi</a></li> -->
        <li><a href="/about">Chi Siamo</a></li>
        <li><a href="/contact">Contatti</a></li>
        <!-- <li><a href="/book" class="btn">Prenota</a></li> -->
    </ul>

</nav>

<header>
</header>

<section>
</section>

<footer>
</footer>

</body>

</html>