<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<title>barber-app - Homepage</title>
</head>

<body>
<header>
	<nav class="navbar" >
		<a href="/" class="logo">
			<img src="/images/logo.png" alt="Logo">
		</a>
		<div class="nav-links">
			<a href="/">Home</a>
			<a href="/about">Chi Siamo</a>
			<a href="/contact">Contatti</a>
			<div class="user-menu">
				<a class="user-icon">
					<img src="/images/profile1.png" alt="profile">
				</a>
				<div class="dropdown-content">
					<!-- Check if user is authenticated -->
					<div th:if="${authentication != null}">
						<!-- Display the profile link and the username -->
						<a href="/profile">
							<span th:text="${authentication.getUsername()}">Profile</span>
						</a>
						<a href="/logout"><span>logout</span></a>
					</div>
					<!-- Display register and login links if user is not authenticated -->
					<div th:if="${authentication == null}">
						<a href="/register">Registrati</a>
						<a href="/login">Login</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<div class="carousel-container">
	<div id="flex-container" class="flex-container">
		<div class="flex-item"><img src="/images/barba_uomo.png" alt="Barba Uomo"></div>
		<div class="flex-item"><img src="/images/shampo_uomo.png" alt="Shampoo Uomo"></div>
		<div class="flex-item"><img src="/images/taglio_uomo.png" alt="Taglio Uomo"></div>
		<div class="flex-item"><img src="/images/salone1.png" alt="Altro Servizio"></div>
		<div class="flex-item"><img src="/images/salone2.png" alt="Altro Servizio"></div>
	</div>
</div>
<script src="/js/scorrimento.js"></script>

<div class="barberHomePage-container" th:if="${authentication != null}">
	<h1>Prenota un servizio con un nostro Barbiere!</h1>
	<div th:if="${barbieri.isEmpty()}">Non ci sono barbieri nel sistema</div>
		<div th:each="barbiere : ${barbieri}" class="barberHomePage-section">
			<a th:href="@{'/user/selectedBarber' + '/' + ${barbiere.id} + '/selezionaServizio'}">
				<div class="barberHomePage-image">
					<img th:src="@{'/uploads/' + ${barbiere.imageUrl}}" alt="Barbiere" class="barber-image" >
				</div>
				<div class="barberHomePage-info">
					<h2 th:text="${barbiere.nome} + ' ' + ${barbiere.cognome}"></h2>
					<p>Data di nascita: <span th:text="${#dates.format(barbiere.dataNascita, 'dd/MM/yyyy')}"></span></p>
				</div>
			</a>
		</div>
</div>
<div class="barberHomePage-container" th:if="${authentication == null}">
	<h1>Prenota un servizio con un nostro Barbiere!</h1>
	<div th:if="${barbieri.isEmpty()}">Non ci sono barbieri nel sistema</div>

	<div th:each="barbiere : ${barbieri}" class="barberHomePage-section">
		<a href="/login">
			<div class="barberHomePage-image">
				<img th:src="@{'/uploads/' + ${barbiere.imageUrl}}" alt="Barbiere" class="barber-image">
			</div>
			<div class="barberHomePage-info">
				<h2 th:text="${barbiere.nome} + ' ' + ${barbiere.cognome}"></h2>
				<p>Data di nascita: <span th:text="${#dates.format(barbiere.dataNascita, 'dd/MM/yyyy')}"></span></p>
			</div>
		</a>
	</div>
</div>

<footer>
</footer>
</body>

</html>