<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>barber-app - Gestisci Servizio</title>
</head>

<body>
<header>
    <nav class="navbar">
        <a href="/admin/indexAdmin" class="logo">
            <img src="/images/logo.png" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="/admin/indexAdmin">Home</a>
            <div class="user-menu">
                <a class="user-icon">
                    <img src="/images/profile1.png" alt="profile">
                </a>
                <div class="dropdown-content">
                    <div th:if="${authentication != null}">
                        <a href="/admin/profile">
                            <span th:text="${authentication.getUsername()}">Profile</span>
                        </a>
                        <a href="/logout"><span>logout</span></a>
                    </div>
                    <div th:if="${authentication == null}">
                        <a href="/register">Registrati</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Aggiungi il titolo della pagina -->
<h1 class="gestisciServizi-title-page">Gestisci i Servizi del Salone</h1>

<div class="gestisciServizi-container">
    <div th:each="servizio : ${servizi}" class="gestisciServizi-card">
        <!-- Visualizza l'immagine del servizio -->
        <img th:src="@{'/uploads/' + ${servizio.imageName}}" alt="Immagine del servizio" class="gestisciServizi-image"/>
        <p class="gestisciServizi-title" th:text="${servizio.nome} + ' - ' + ${servizio.getDurata()} + ' minuti'"></p>
    </div>

    <a href="/admin/aggiungiServizio" class="gestisciServizi-add-btn">Aggiungi Servizio</a>
</div>

</body>
</html>