<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>barber-app - Admin HomePage</title>
</head>

<body>
<header>
    <nav class="navbar">
        <a href="/admin/indexAdmin" class="logo">
            <img src="/images/logo.png" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="/admin/indexAdmin">Home</a>
            <div class="user-menu">
                <a class="user-icon">
                    <img src="/images/profile1.png" alt="profile">
                </a>
                <div class="dropdown-content">
                    <div th:if="${authentication != null}">
                        <a href="/admin/profile">
                            <span th:text="${authentication.getUsername()}">Profile</span>
                        </a>
                        <a href="/logout"><span>logout</span></a>
                    </div>
                    <div th:if="${authentication == null}">
                        <a href="/register">Registrati</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="indexAdmin-container">
    <h1>PAGINA DI GESTIONE DEL SALONE</h1>

    <div class="indexAdmin-sections">
        <section class="indexAdmin-card">
            <h2>Aggiungi Turni dei Barbieri</h2>
            <p>Imposta o modifica i turni di lavoro dei barbieri.</p>
            <a href="/admin/selezionaBarbiere" class="indexAdmin-btn">Aggiungi Turni</a>
        </section>

        <section class="indexAdmin-card">
            <h2>Aggiungi servizi</h2>
            <p>Gestisci i servizi che puo' offrire il tuo salone</p>
            <a href="/admin/gestisciServizi" class="indexAdmin-btn">Gestisci Servizi</a>
        </section>

        <section class="indexAdmin-card">
            <h2>Gestisci Barbieri</h2>
            <p>Aggiungi o modifica i barbieri del tuo salone</p>
            <a href="/admin/manageBarbers" class="indexAdmin-btn">Gestisci Barbieri</a>
        </section>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 Barber App. Tutti i diritti riservati.</p>
    </div>
</footer>

</body>

</html>
