<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seleziona Orario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav class="navbar" >
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">Chi Siamo</a>
            <a href="/contact">Contatti</a>
            <div class="user-menu">
                <a class="user-icon">
                    <img src="/images/profile1.png" alt="profile">
                </a>
                <div class="dropdown-content">
                    <!-- Check if user is authenticated -->
                    <div th:if="${authentication != null}">
                        <!-- Display the profile link and the username -->
                        <a href="/profile">
                            <span th:text="${authentication.getUsername()}">Profile</span>
                        </a>
                        <a href="/logout"><span>logout</span></a>
                    </div>
                    <!-- Display register and login links if user is not authenticated -->
                    <div th:if="${authentication == null}">
                        <a href="/register">Registrati</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="selezionaOrario-container">
    <h1 class="selezionaOrario-title">Scegli un orario disponibile</h1>

    <div th:if="${orariDisponibili == null}">
        Non ci sono posti disponibili per questa giornata
    </div>

    <div th:if="${successMessage} != null">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${!orariDisponibili.isEmpty()}">
        <div th:each="orario : ${orariDisponibili.keySet()}" class="selezionaOrario-card">
            <a th:href="'/user/prenotaServizio/' + ${giorno.id} + '/' + ${orario.toString()} + '/' + ${servizio.getId()}">
                <div class="selezionaOrario-card-content">
                    <div class="selezionaOrario-card-title" th:text="'Orario: ' + ${orario.toString()}"></div>
                    <div class="selezionaOrario-card-time" th:text="'Prenota un ' + ${servizio.getNome()}"></div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>